.navbar-light .navbar-toggler-icon {
    background-color: #ffff;
}
.nav-container{
    position: absolute;
    z-index: 111;
    width: 100%;

}
.nav-container-scroll{
    background-color:  rgba(0, 0, 0, .75);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10000;

}
.header-h1{
    color: #fff!important;
    font-size: 20px;
    font-weight: 400;
}
.header-nav{
    text-align: start;
}
.header-nav a{
    font-size: 20px;
    font-weight: 400;
    color: #fff!important;
}
